@import 'module_base.css';
@import 'module1.css';
@import 'module2.css';
@import 'module3.css';
@import 'submit_module.css';
@import 'note.css';
@import 'timer.css';

:root {
    --light-off: #555;
    --light-red: #ff3333;
    --light-green: #33ff33;
}

body {
    /* Basic background setup */
    background-image: url('../images/resident-evil-castle.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Courier New', monospace;
    background-color: #222;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    /* This makes it so text isn't highlightable */
    user-select: none;
}

.bomb-container {
    background-color: #222;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 
        0 0 30px rgba(0, 0, 0, 0.8),
        inset 0 0 15px rgba(0, 0, 0, 0.5);
    width: 95%;
    max-width: 1400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 25px;
    box-sizing: border-box;
    border: 5px solid #111;
}

/* Responsive Scaling */
@media (max-width: 1400px) {
    .bomb-container {
        width: 95%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1100px) {
    .bomb-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .bomb-container {
        grid-template-columns: 1fr;
        width: 90%;
    }
    
    .module {
        min-height: 0px;
    }
}


.game-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    flex-direction: column;
}

.game-over h1 {
    font-size: 48px;
    color: var(--timer-text);
    margin-bottom: 20px;
}

.game-over.success h1 {
    color: var(--light-green);
}

.restart-button {
    padding: 15px 30px;
    background-color: #990000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Courier New', monospace;
}

/* Module content area */
.module-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
}

.selected {
    border-color: yellow;
    box-shadow: 
        0 0 10px yellow,
        0 3px 5px rgba(0, 0, 0, 0.3),
        inset 0 1px 2px rgba(255, 255, 255, 0.2);
}